Repository yzhang-gh/vscode-markdown, pull requests merged in 2021-02, with the labels that each got.

#890 🐛 Fix TOC visible text and GitHub slug generation
  package-lock.json
  package.json
  src/IDisposable.ts
  src/markdownEngine.ts
  src/test/suite/slugify.test.ts
  src/test/suite/toc.test.ts
  src/toc.ts
  src/util.ts
Labels: Area: exporting, Area: table of contents

#897 ✨ Add decoration manager
  package.json
  package.nls.json
  package.nls.zh-cn.json
  src/configuration/KnownKey.ts
  src/configuration/defaultFallback.ts
  src/configuration/manager.ts
  src/extension.ts
  src/syntaxDecorations.ts
  src/theming/constant.ts
  src/theming/decorationManager.ts
  src/theming/decorationWorkerRegistry.ts
Labels: Area: configuration, Area: editor theming

#898 ✨ Improve auto-completion of links
  src/completion.ts
Labels: Area: auto completion
